* {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
}

body {
        #message-icon-section {
                .off-screen-message-icon {
                        display: none;
                        transition: 0.5s ease;
                        ul {
                                list-style: none;
                                li {
                                        width: 30px;
                                        height: 30px;
                                        margin: 0;
                                        opacity: 0.6;
                                        a {
                                                display: block;
                                                width: 100%;
                                                height: auto;
                                                img {
                                                        width: 100%;
                                                        height: auto;
                                                }
                                        }
                                }
                        }
                }
                .off-screen-message-icon.active {
                        display: block;
                        position: fixed;
                        right: 0;
                        bottom: 130px;
                        ul {
                                li:hover {
                                        opacity: 1;
                                        transition: 0.7s ease;
                                }
                        }
                }
                .message-icon {
                        position: fixed;
                        right: 0;
                        bottom: 100px;
                        width: 30px;
                        height: 30px;
                        background-color: #191919;
                        opacity: 0.6;
                        a {
                                display: block;
                                width: 100%;
                                height: auto;
                                img {
                                        width: 100%;
                                        height: auto;
                                }
                        }
                }
                .message-icon:hover {
                        opacity: 1;
                        transition: 0.7s ease;
                }
                .message-icon.on-scroll {
                        background-color: #B99692;
                        transition: 0.5s ease;
                }
        }
        @media screen and (min-width: 1024px) {
                #message-icon-section {
                        .off-screen-message-icon {
                                ul {
                                        li {
                                                width: 50px;
                                                height: 50px;
                                        }
                                }
                        }
                        .off-screen-message-icon.active {
                                right: 0;
                                bottom: 150px;
                        }
                        .message-icon {
                                width: 50px;
                                height: 50px;
                                transition: 0.5s ease;
                        }
                }
        }
}