* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    background-color: #F8F6F4;
    text-align: center;
}

/* HEADER */
.home-makeup-header {
    background-color: #F8F6F4;
    text-align: center;
    padding: 2cm 1cm;
}

.home-makeup-header h1 {
    font-family: "Baskervville";
    font-size: 80px;
    font-weight: 400;
    text-transform: uppercase;
    color: #725A58;
    margin-bottom: 10px;
}

.home-makeup-header p {
    font-family: "Avenir";
    font-size: 22px;
    font-weight: 300;
    color: #191919;
    padding-top: 1cm;
}

.pink-line {
    width: 200px;
    height: 4px;
    background-color: #E3B6B1;
    margin: 10px auto;
    border-radius: 2px;
}

.quote {
    font-family: "Baskervville";
    font-weight: 400;
    font-size: 20px;
    color: #5E4A49;
    letter-spacing: 0%;
    padding: .6cm 1.2cm;
    margin: #5E4A49;
    align-items: center;
    border-radius: 0%;
    margin-top: 1cm;
    margin-bottom: 1cm;
    background-color: #F8F6F4;
}


/* IMAGES */

.home-makeup-images {
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
    padding: 2cm 0;
}

.image-box {
    position: relative;
}


.image-box img {
    position: relative;
    width: 400px;
    height: 500px;
    object-fit: cover;
    border-radius: 3px;
    justify-content: center;
    gap: 14px;
    
}
 


.image-box-wedding img {
    width: 400px;
    height: 500px;
    object-fit: cover;
    border-radius: 3px;
position: relative;
    transform: translateY(-20%);
   margin-top: 1cm;
  

   }



/* TEXT(party, wedding, photoshoot) */
.image-box span {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Baskervville";
    font-size: 70px;
    color: #FAE9E7;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 10px;
}



/*  P / W / P */
span .letter-p {
    font-size: 90px;
    color: #d3b7b4;
    font-weight: 600;
    line-height: 1.6cm;
    margin-left: -2.2cm;
   
}

span .letter-w {
    font-size: 90px;
    color: #FAE9E7;
    font-weight: 600;
    line-height: 1px;
    margin-left: -10cm;
    margin-top: 8.5cm;
    position: absolute;
}

span .letter-p2 {
    font-size: 90px;
    color: #d3b7b4;
    line-height: 0.7;
    margin-left: -4.4cm;
    margin-bottom: -1px;
}

/*makeup101section*/
.makeup101-section {
    background-color: #F8E8E5;
    padding: 50px 0;

    h2 {
        padding-bottom: 2cm;
        text-align: center;
        margin-bottom: 40px;
        font-size: 32px;
        letter-spacing: 2px;
        color: #5E4A49
    }
}

.class-item span {
    padding-top: .5cm;
}

.class-item p{
    padding:20px;
    text-align: left;
}

.imagemakeup101 {
    position: relative;
    display: inline-block;
}

.imagemakeup101 img {
    display: block;
    width: 100%;
    height: auto;
    
}

.imagemakeup101 .frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   padding:.5cm ;
}



.makeup101-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
    max-width: 1200px;
    margin: 0 auto;
    color: #5E4A49;
    text-align: left;
    font-size: 22px;
}

.vector-icon1 {
    text-align: center;
    margin-left: 9.5cm;
    width: 2.5%;

}

.vector-icon2 {
    text-align: center;
    margin-left: 7cm;
    width: 2.5%;
}

.vector-icon3 {
    text-align: center;
    margin-left: 7.3cm;
    width: 2.5%;
}

.makeup101-left {
    width: 55%;
}

.all-classes {

    font-family: "Baskervville";
    font-size: 20px;
    color: #5E4A49;
    padding: 12px 40px;
    background-color: transparent;
    border: 1px solid #5E4A49;
    cursor: pointer;
    transition: 0.3s ease;
    margin-top: 2cm;
    margin-right: 12cm;
    
}

.all-classes:hover {
    opacity: 0.7;
}

@media (max-width: 600px) {
    .makeup101-container {
        flex-direction: column; 
        align-items: center;
        gap: 20px;
    }
   
}

.diy-corner {
    padding: 60px 20px;
    text-align: center;
    background-color: #fff;

    h4 {
        font-family: "Baskervville";
        font-size: 48px;
        color: #725A58;
        margin-bottom: 40px;
        letter-spacing: 2px;
        font-weight: 300;

    }

    .pink-line2 {
        width: 200px;
        height: 4px;
        background-color: #E3B6B1;
        opacity: 1;
        margin: 10px auto;
        border: none;
        border-radius: 2px;

    }


    .videos-container {
        padding-top: 2%;
        display: flex;
        justify-content: center;
        align-items: stretch;
        gap: 30px;
        flex-wrap: wrap;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;

        iframe {
            width: 350px;
            height: 450px;
            border: none;
            border-radius: 6px;
            object-fit: cover;
        }
    }

    .more-btn {
        margin-top: 40px;
        padding: .5cm 1cm;
        background-color: #F4E0DE;
        border: 1px #725A58 solid;
        font-family: "Baskervville";
        font-size: 24px;
        color: #725A58;
        background-color: transparent;
        cursor: pointer;
        transition: 0.3s ease;
        margin: 1px #725A58 solid;

        &:hover {
            opacity: 0.8;
        }
    }
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .diy-corner {
        padding: 40px 10px;

        h4 {
            font-size: 32px;
            margin-bottom: 30px;
        }

        .videos-container {
            flex-wrap: nowrap;
            gap: 20px;
            overflow-x: auto;
            padding-bottom: 10px;
            iframe {
                width: 100%;
                height: 250px;
            }
        }

        .more-btn {
            font-size: 18px;
            padding: 10px 30px;
        }
    }
}