* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#task-1-header {
  position: sticky;
  height: auto;
  z-index: 100;

  #header-section {
    .navbar {
      padding: 20px;
      transition: padding 0.5s ease;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      background-color: #f8f6f4;
      align-items: center;
      justify-content: center;
      top: 0;
      width: 100%;
      min-height: 68px;

      .ham-menu {
        height: 40px;
        width: 40px;
        margin-right: auto;
        position: relative;

        span {
          display: block;
          height: 2px;
          width: 100%;
          background-color: #725a58;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: 0.5s ease;
        }

        span:nth-child(1) {
          top: 25%;
        }

        span:nth-child(3) {
          top: 75%;
        }
      }

      .logo {
        margin: 0 auto;
      }

      .insta-icon {
        height: 40px;
        width: 40px;
        margin-left: auto;
        position: relative;

        a {
          display: block;
          text-decoration: none;
          color: #725a58;

          i {
            font-size: 40px;
          }
        }
      }

      .insta-icon:hover {
        opacity: 0.4;
        transition: 0.5s ease;
      }

      .ham-menu.active {
        span:nth-child(1) {
          top: 50%;
          transform: translate(-50%, -50%) rotate(45deg);
        }

        span:nth-child(2) {
          opacity: 0;
        }

        span:nth-child(3) {
          top: 50%;
          transform: translate(-50%, 50%) rotate(-45deg);
        }
      }

      .insta-icon.active {
        opacity: 0;
        transition: 0.5s ease;
      }

      .desktop-nav {
        display: none;
      }
    }

    .navbar.on-scroll {
      padding: 0px 20px;
      transition: 0.5s ease;
    }

    .off-screen-menu {
      background-color: #f8f6f4;
      width: 100%;
      max-width: 360px;
      position: fixed;
      top: 144px;
      left: -450px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      transition: 0.5s ease;
      padding: 30px 0;

      .menu-list {
        list-style: none;
        font-size: 32px;

        li {
          font-family: "Baskervville", serif;
          font-size: 32px;
          font-weight: 400px;
          font-style: normal;
          margin: 20px auto;

          a {
            text-decoration: none;
            color: #725a58;
          }
        }

        li:hover {
          opacity: 0.4;
          transition: 0.5s ease;
        }
      }

      .icons-list {
        list-style: none;
        justify-content: center;
        display: flex;
        flex-direction: row;
        margin: 20px auto;

        li {
          margin: 0 15px;

          a {
            text-decoration: none;
            color: #725a58;
          }
        }

        li:hover {
          opacity: 0.4;
          transition: 0.5s ease;
        }
      }

      p {
        font-size: 14px;
      }
    }

    .off-screen-menu.active {
      left: 0;
    }

    .off-screen-menu.on-scroll {
      top: 104px;
      transition: 0.5s ease;
    }
  }

  @media screen and (min-width: 1024px) {
    #header-section {
      .navbar {
        display: block;
        padding: 20px 40px;
        width: 100%;

        .ham-menu,
        .logo-mobile,
        .insta-icon {
          display: none;
        }

        .desktop-screen-nav {
          display: grid;
          grid-template-columns: 1fr auto 1fr;
          max-width: 1440px;
          margin: 0 auto;
          text-align: center;
          align-items: center;

          .desktop-nav {
            display: flex;
            gap: 20px;
            list-style: none;

            li {
              font-family: "Baskervville", serif;
              font-size: 20px;
              font-weight: 400px;
              font-style: normal;
              margin: 20px auto;
              position: relative;

              a {
                text-decoration: none;
                color: #725a58;
              }
            }

            li:hover {
              opacity: 0.4;
              transition: 0.5s ease;
            }

            .aTag-img {
              .logo-no-text {
                display: none;
              }
            }

            li:nth-child(1):after {
              content: "";
              position: absolute;
              right: -20px;
              top: 50%;
              transform: translateY(-50%);
              width: 1px;
              height: 20px;
              background-color: #e3b6b1;
            }

            li:nth-child(2):after {
              content: "";
              position: absolute;
              right: -20px;
              top: 50%;
              transform: translateY(-50%);
              width: 1px;
              height: 20px;
              background-color: #e3b6b1;
            }

            li:nth-child(3):after {
              content: "";
              position: absolute;
              right: -20px;
              top: 50%;
              transform: translateY(-50%);
              width: 1px;
              height: 20px;
              background-color: #e3b6b1;
            }
          }

          .logo {
            margin: 0 20px;
          }
        }
      }

      .navbar.on-scroll {
        padding: 0px 40px;
        transition: 0.5s ease;

        .desktop-screen-nav {
          .logo {
            .aTag-img {
              .logo-text {
                display: none;
              }

              .logo-no-text {
                display: flex;
              }
            }
          }
        }
      }

      .off-screen-menu {
        display: none;
      }
    }
  }
}

#task-2-home_top_page {
  .top {
    &-main {
      height: calc(100vh - 196px);
      position: relative;
      background: url(../../assets/images/background-top.jpg) no-repeat center
        center / cover;
      overflow: hidden;

      @media screen and (max-width: 768px) {
        heigh: calc(100vh - 120px);
      }

      &:before {
        content: "";
        display: inline-block;
        width: 100%;
        height: 68%;
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
        position: absolute;
        bottom: -6%;
        left: 0;
      }

      &-box {
        position: absolute;
        bottom: 16%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;

        h1 {
          margin-bottom: 15px;

          img {
            @media screen and (max-width: 769px) {
              width: 76vw;
            }
          }
        }

        p {
          color: white;
          margin-bottom: 24px;
        }

        .btn {
          a {
            display: inline-block;
            font-family: "Baskerville", serif;
            font-size: 1.25rem;
            color: white;
            border: 1px solid;
            padding: 0.9375rem 1.875rem;
            transition: all 0.4 ease;
            text-decoration: none;

            &:hover {
              color: black;
              background: #f8f6f499;
              border-color: #f8f6f499;
            }
          }
        }
      }
    }

    &-about {
      max-width: 884px;
      margin: 40px auto 70px;
      padding: 0 10px;

      @media screen and (max-width: 769px) {
        padding: 0 20px;
      }

      img {
        width: 100%;
      }

      &-presentation {
        display: flex;
        gap: 60px;
        align-items: center;
        margin-bottom: 40px;

        @media screen and (max-width: 768px) {
          flex-direction: column;
          gap: 10px;
        }

        .txt {
          position: relative;
          order: 1;

          @media screen and (max-width: 768px) {
            flex-direction: column;
            gap: 10px;
          }

          p {
            color: #535353;
            max-width: 430px;
            margin-bottom: 24px;

            @media screen and (max-width: 768px) {
              text-align: center;
              width: 80%;
              margin: 0 auto 24px;
            }
          }
        }

        .img {
          @media screen and (max-width: 769px) {
            width: 306px;
          }
        }

        .ttl {
          padding-top: 64px;
          position: relative;
          font-size: 3rem;
          line-height: 1.3;
          color: black;
          margin-bottom: 8px;

          @media screen and (max-width: 768px) {
            padding-top: 40px;
            text-align: center;
          }

          &:before {
            content: "";
            display: inline-block;
            width: 50px;
            height: 40px;
            background: url(../../assets/images/about-logo.svg) no-repeat center
              center / contain;
            position: absolute;
            top: 0;
            left: 0;

            @media screen and (max-width: 768px) {
              width: 30px;
              height: 24px;
              background: url(../../assets/images/top/about-logo-black.svg)
                no-repeat center center / contain;
              left: 50%;
              transform: translateX(-50%);
            }
          }
        }

        .signature {
          @media screen and (min-width: 769px) {
            position: absolute;
            bottom: 20px;
            right: 0;
            transform: rotate(-8deg);
            width: 248px;
            max-width: 50%;
          }

          @media screen and (max-width: 768px) {
            width: 50%;
            margin: 0 auto 30px;
          }
        }

        .btn {
          @media screen and (max-width: 768px) {
            text-align: center;
          }

          a {
            display: inline-block;
            font-family: "Baskerville", serif;
            font-size: 1.25rem;
            color: #644f4e;
            border: 1px solid #5e4a49;
            padding: 15px 30px;
            transition: all 0.4 ease;

            &:hover {
              color: #f8f6f4;
              background: #b99692;
              border-color: #b99692;
            }
          }
        }
      }

      &-list {
        text-align: center;

        dt {
          color: #535353;
          font-weight: 300;
          position: relative;
          padding: 10px 0;
          margin-bottom: 30px;

          &:before {
            content: "";
            width: 100%;
            height: 1px;
            background: #888;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
          }

          span {
            background-color: white;
            display: inline-block;
            position: relative;
            padding: 0 10px;
          }
        }

        ul {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          gap: 60px 8%;

          li {
            list-style: none;
            width: 14%;
            max-width: 120px;
          }
        }
      }
    }
  }
}
