* {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
}

#task-1-header {
        #header-section {
                .navbar {
                        padding: 20px;
                        transition: padding 0.5s ease;
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        background-color: #F8F6F4;
                        align-items: center;
                        justify-content: center;
                        position: fixed;
                        top: 0;
                        width: 100%;
                        min-height: 68px;

                        .ham-menu {
                                height: 40px;
                                width: 40px;
                                margin-right: auto;
                                position: relative;

                                span {
                                        display: block;
                                        height: 2px;
                                        width: 100%;
                                        background-color: #725A58;
                                        position: absolute;
                                        top: 50%;
                                        left: 50%;
                                        transform: translate(-50%, -50%);
                                        transition: 0.5s ease;
                                }

                                span:nth-child(1) {
                                        top: 25%;
                                }

                                span:nth-child(3) {
                                        top: 75%;
                                }

                        }

                        .logo {
                                margin: 0 auto;


                        }

                        .insta-icon {
                                height: 40px;
                                width: 40px;
                                margin-left: auto;
                                position: relative;

                                a {
                                        display: block;
                                        text-decoration: none;
                                        color: #725A58;

                                        i {
                                                font-size: 40px;
                                        }
                                }
                        }

                        .insta-icon:hover {
                                opacity: 0.4;
                                transition: 0.5s ease;
                        }

                        .ham-menu.active {
                                span:nth-child(1) {
                                        top: 50%;
                                        transform: translate(-50%, -50%) rotate(45deg);
                                }

                                span:nth-child(2) {
                                        opacity: 0;
                                }

                                span:nth-child(3) {
                                        top: 50%;
                                        transform: translate(-50%, 50%) rotate(-45deg);
                                }
                        }

                        .insta-icon.active {
                                opacity: 0;
                                transition: 0.5s ease;
                        }

                        .desktop-nav {
                                display: none;
                        }
                }

                .navbar.on-scroll {
                        padding: 0px 20px;
                        transition: 0.5s ease;
                }

                .off-screen-menu {
                        background-color: #F8F6F4;
                        width: 100%;
                        max-width: 360px;
                        position: fixed;
                        top: 144px;
                        left: -450px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        transition: 0.5s ease;
                        padding: 30px 0;

                        .menu-list {
                                list-style: none;
                                font-size: 32px;

                                li {
                                        font-family: 'Baskervville', serif;
                                        font-size: 32px;
                                        font-weight: 400px;
                                        font-style: normal;
                                        margin: 20px auto;

                                        a {
                                                text-decoration: none;
                                                color: #725A58;
                                        }
                                }

                                li:hover {
                                        opacity: 0.4;
                                        transition: 0.5s ease;
                                }
                        }

                        .icons-list {
                                list-style: none;
                                justify-content: center;
                                display: flex;
                                flex-direction: row;
                                margin: 20px auto;

                                li {
                                        margin: 0 15px;

                                        a {
                                                text-decoration: none;
                                                color: #725A58;
                                        }
                                }

                                li:hover {
                                        opacity: 0.4;
                                        transition: 0.5s ease;
                                }
                        }

                        p {
                                font-size: 14px;
                        }
                }

                .off-screen-menu.active {
                        left: 0;
                }

                .off-screen-menu.on-scroll {
                        top: 104px;
                        transition: 0.5s ease;
                }
        }

        @media screen and (min-width: 1024px) {
                #header-section {
                        .navbar {
                                display: block;
                                padding: 20px 40px;
                                width: 100%;

                                .ham-menu,
                                .logo-mobile,
                                .insta-icon {
                                        display: none;
                                }

                                .desktop-screen-nav {
                                        display: grid;
                                        grid-template-columns: 1fr auto 1fr;
                                        max-width: 1440px;
                                        margin: 0 auto;
                                        text-align: center;
                                        align-items: center;

                                        .desktop-nav {
                                                display: flex;
                                                gap: 20px;
                                                list-style: none;

                                                li {
                                                        font-family: 'Baskervville', serif;
                                                        font-size: 20px;
                                                        font-weight: 400px;
                                                        font-style: normal;
                                                        margin: 20px auto;
                                                        position: relative;

                                                        a {
                                                                text-decoration: none;
                                                                color: #725A58;
                                                        }
                                                }

                                                li:hover {
                                                        opacity: 0.4;
                                                        transition: 0.5s ease;
                                                }

                                                .aTag-img {

                                                        .logo-no-text {
                                                                display: none;
                                                        }
                                                }

                                                li:nth-child(1):after {
                                                        content: "";
                                                        position: absolute;
                                                        right: -20px;
                                                        top: 50%;
                                                        transform: translateY(-50%);
                                                        width: 1px;
                                                        height: 20px;
                                                        background-color: #E3B6B1;
                                                }

                                                li:nth-child(2):after {
                                                        content: "";
                                                        position: absolute;
                                                        right: -20px;
                                                        top: 50%;
                                                        transform: translateY(-50%);
                                                        width: 1px;
                                                        height: 20px;
                                                        background-color: #E3B6B1;
                                                }

                                                li:nth-child(3):after {
                                                        content: "";
                                                        position: absolute;
                                                        right: -20px;
                                                        top: 50%;
                                                        transform: translateY(-50%);
                                                        width: 1px;
                                                        height: 20px;
                                                        background-color: #E3B6B1;
                                                }
                                        }

                                        .logo {
                                                margin: 0 20px;
                                        }
                                }
                        }

                        .navbar.on-scroll {
                                padding: 0px 40px;
                                transition: 0.5s ease;

                                .desktop-screen-nav {
                                        .logo {
                                                .aTag-img {
                                                        .logo-text {
                                                                display: none;
                                                        }

                                                        .logo-no-text {
                                                                display: flex;
                                                        }
                                                }
                                        }
                                }
                        }

                        .off-screen-menu {
                                display: none;
                        }
                }
        }

}