html,
body {
  overflow-x: hidden;
}

html {
  scrollbar-gutter: stable both-edges;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-color: #F8F6F4;
}

.page-title {
  background-color: #F8F6F4;
  max-height: 228px;
  padding: 16px 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 80px;
    font-family: 'Baskervville', serif;
    color: #725A58;
    max-width: 991px;
    max-height: 78px;
    line-height: 100%;
    padding: 0;
    margin: 0;
    letter-spacing: 4px;
  }

  .border {
    content: "";
    margin-top: 16px;
    width: 200px;
    border-bottom: solid 1px #E3B6B1;
  }

  p {
    max-width: 585px;
    height: 54px;
    font-size: 18px;
    font-family: "Avenir", sans-serif;
    color: #191919;
  }
}

.display {
  background-color: #FAE9E7;
  padding: 24px 8px;

  .toggle-button {
    max-width: 495px;
    height: 53px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    button {
      width: 242px;
      height: 100%;
      padding-bottom: 12px;
      color: #888888;
      font-size: 32px;
      font-family: 'Baskervville', serif;
      background-color: transparent;
      border: none;
      border-bottom: solid 2px #888888;
      cursor: pointer;
      outline: none;
      appearance: none;
    }

    .toggle-selected {
      color: #191919;
      border-color: #191919;
    }
  }

  .boxes-makeup {
    max-width: 1022px;
    height: auto;
    margin: 16px auto;
    padding: 16px;
    display: none;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 280px;
    gap: 14px;

    .box {
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .boxes-hair-style {
    max-width: 1022px;
    height: auto;
    margin: 16px auto;
    padding: 16px;
    display: none;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 280px;
    gap: 14px;

    .box {
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .box-selected {
    display: grid;
  }

  .view-more-button {
    width: 161px;
    height: 62px;
    margin: 60px auto;

    button {
      width: 100%;
      height: 100%;
      font-family: 'Baskervville', serif;
      margin: 0;
      padding: 0;
      background-color: transparent;
      cursor: pointer;
      outline: none;
      appearance: none;
      position: relative;
      overflow: hidden;
      transition: all .25s ease;

      &:hover {
        background-color: #eca8a0;
        transform: translateY(-4px);
      }

      &:active {
        transform: translateY(0);
      }

      // ↓↓↓button animation↓↓↓
      &::after {
        content: "";
        position: absolute;
        top: -50%;
        left: -30%;
        width: 30%;
        height: 200%;
        background: linear-gradient(to right,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, .9) 50%,
            rgba(255, 255, 255, 0) 100%);
      }
    }

    .action {
      background-color: #eca8a0;
    }

    .action::after {
      animation: shine .7s ease-out 1 forwards;
    }

    @keyframes shine {
      0% {
        transform: translateX(-120%) rotate(25deg);
      }

      100% {
        transform: translateX(600%) rotate(25deg);
      }
    }

    // ↑↑↑button animation↑↑↑
  }
}

@media screen and (max-width: 768px) {
  .page-title {
    h1 {
      font-size: 40px;
      padding-bottom: 0;
    }
  }

  .display {
    .boxes-makeup {
      grid-auto-rows: 200px;
    }

    .boxes-hair-style {
      grid-auto-rows: 200px;
    }
  }
}

@media screen and (max-width: 426px) {
  .display {
    .boxes-makeup {
      grid-template-columns: 100%;
      grid-auto-rows: 240px;
      padding: 40px;
    }

    .boxes-hair-style {
      grid-template-columns: 100%;
      grid-auto-rows: 240px;
      padding: 40px;
    }

    .responsive-hidden {
      display: none;
    }

    .view-more-button {
      margin: 20px auto;
    }
  }
}