* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#task-1-header {
  position: sticky;
  height: auto;
  z-index: 100;
}
#task-1-header #header-section .navbar {
  padding: 20px;
  transition: padding 0.5s ease;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #f8f6f4;
  align-items: center;
  justify-content: center;
  top: 0;
  width: 100%;
  min-height: 68px;
}
#task-1-header #header-section .navbar .ham-menu {
  height: 40px;
  width: 40px;
  margin-right: auto;
  position: relative;
}
#task-1-header #header-section .navbar .ham-menu span {
  display: block;
  height: 2px;
  width: 100%;
  background-color: #725a58;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease;
}
#task-1-header #header-section .navbar .ham-menu span:nth-child(1) {
  top: 25%;
}
#task-1-header #header-section .navbar .ham-menu span:nth-child(3) {
  top: 75%;
}
#task-1-header #header-section .navbar .logo {
  margin: 0 auto;
}
#task-1-header #header-section .navbar .insta-icon {
  height: 40px;
  width: 40px;
  margin-left: auto;
  position: relative;
}
#task-1-header #header-section .navbar .insta-icon a {
  display: block;
  text-decoration: none;
  color: #725a58;
}
#task-1-header #header-section .navbar .insta-icon a i {
  font-size: 40px;
}
#task-1-header #header-section .navbar .insta-icon:hover {
  opacity: 0.4;
  transition: 0.5s ease;
}
#task-1-header #header-section .navbar .ham-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
#task-1-header #header-section .navbar .ham-menu.active span:nth-child(2) {
  opacity: 0;
}
#task-1-header #header-section .navbar .ham-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, 50%) rotate(-45deg);
}
#task-1-header #header-section .navbar .insta-icon.active {
  opacity: 0;
  transition: 0.5s ease;
}
#task-1-header #header-section .navbar .desktop-nav {
  display: none;
}
#task-1-header #header-section .navbar.on-scroll {
  padding: 0px 20px;
  transition: 0.5s ease;
}
#task-1-header #header-section .off-screen-menu {
  background-color: #f8f6f4;
  width: 100%;
  max-width: 360px;
  position: fixed;
  top: 144px;
  left: -450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 0.5s ease;
  padding: 30px 0;
}
#task-1-header #header-section .off-screen-menu .menu-list {
  list-style: none;
  font-size: 32px;
}
#task-1-header #header-section .off-screen-menu .menu-list li {
  font-family: "Baskervville", serif;
  font-size: 32px;
  font-weight: 400px;
  font-style: normal;
  margin: 20px auto;
}
#task-1-header #header-section .off-screen-menu .menu-list li a {
  text-decoration: none;
  color: #725a58;
}
#task-1-header #header-section .off-screen-menu .menu-list li:hover {
  opacity: 0.4;
  transition: 0.5s ease;
}
#task-1-header #header-section .off-screen-menu .icons-list {
  list-style: none;
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin: 20px auto;
}
#task-1-header #header-section .off-screen-menu .icons-list li {
  margin: 0 15px;
}
#task-1-header #header-section .off-screen-menu .icons-list li a {
  text-decoration: none;
  color: #725a58;
}
#task-1-header #header-section .off-screen-menu .icons-list li:hover {
  opacity: 0.4;
  transition: 0.5s ease;
}
#task-1-header #header-section .off-screen-menu p {
  font-size: 14px;
}
#task-1-header #header-section .off-screen-menu.active {
  left: 0;
}
#task-1-header #header-section .off-screen-menu.on-scroll {
  top: 104px;
  transition: 0.5s ease;
}
@media screen and (min-width: 1024px) {
  #task-1-header #header-section .navbar {
    display: block;
    padding: 20px 40px;
    width: 100%;
  }
  #task-1-header #header-section .navbar .ham-menu,
  #task-1-header #header-section .navbar .logo-mobile,
  #task-1-header #header-section .navbar .insta-icon {
    display: none;
  }
  #task-1-header #header-section .navbar .desktop-screen-nav {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
  }
  #task-1-header #header-section .navbar .desktop-screen-nav .desktop-nav {
    display: flex;
    gap: 20px;
    list-style: none;
  }
  #task-1-header #header-section .navbar .desktop-screen-nav .desktop-nav li {
    font-family: "Baskervville", serif;
    font-size: 20px;
    font-weight: 400px;
    font-style: normal;
    margin: 20px auto;
    position: relative;
  }
  #task-1-header #header-section .navbar .desktop-screen-nav .desktop-nav li a {
    text-decoration: none;
    color: #725a58;
  }
  #task-1-header #header-section .navbar .desktop-screen-nav .desktop-nav li:hover {
    opacity: 0.4;
    transition: 0.5s ease;
  }
  #task-1-header #header-section .navbar .desktop-screen-nav .desktop-nav .aTag-img .logo-no-text {
    display: none;
  }
  #task-1-header #header-section .navbar .desktop-screen-nav .desktop-nav li:nth-child(1):after {
    content: "";
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 20px;
    background-color: #e3b6b1;
  }
  #task-1-header #header-section .navbar .desktop-screen-nav .desktop-nav li:nth-child(2):after {
    content: "";
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 20px;
    background-color: #e3b6b1;
  }
  #task-1-header #header-section .navbar .desktop-screen-nav .desktop-nav li:nth-child(3):after {
    content: "";
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 20px;
    background-color: #e3b6b1;
  }
  #task-1-header #header-section .navbar .desktop-screen-nav .logo {
    margin: 0 20px;
  }
  #task-1-header #header-section .navbar.on-scroll {
    padding: 0px 40px;
    transition: 0.5s ease;
  }
  #task-1-header #header-section .navbar.on-scroll .desktop-screen-nav .logo .aTag-img .logo-text {
    display: none;
  }
  #task-1-header #header-section .navbar.on-scroll .desktop-screen-nav .logo .aTag-img .logo-no-text {
    display: flex;
  }
  #task-1-header #header-section .off-screen-menu {
    display: none;
  }
}

#task-2-home_top_page .top-main {
  height: calc(100vh - 196px);
  position: relative;
  background: url(../../assets/images/background-top.jpg) no-repeat center center/cover;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  #task-2-home_top_page .top-main {
    heigh: calc(100vh - 120px);
  }
}
#task-2-home_top_page .top-main:before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 68%;
  background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
  position: absolute;
  bottom: -6%;
  left: 0;
}
#task-2-home_top_page .top-main-box {
  position: absolute;
  bottom: 16%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
#task-2-home_top_page .top-main-box h1 {
  margin-bottom: 15px;
}
@media screen and (max-width: 769px) {
  #task-2-home_top_page .top-main-box h1 img {
    width: 76vw;
  }
}
#task-2-home_top_page .top-main-box p {
  color: white;
  margin-bottom: 24px;
}
#task-2-home_top_page .top-main-box .btn a {
  display: inline-block;
  font-family: "Baskerville", serif;
  font-size: 1.25rem;
  color: white;
  border: 1px solid;
  padding: 0.9375rem 1.875rem;
  transition: all 0.4 ease;
  text-decoration: none;
}
#task-2-home_top_page .top-main-box .btn a:hover {
  color: black;
  background: rgba(248, 246, 244, 0.6);
  border-color: rgba(248, 246, 244, 0.6);
}
#task-2-home_top_page .top-about {
  max-width: 884px;
  margin: 40px auto 70px;
  padding: 0 10px;
}
@media screen and (max-width: 769px) {
  #task-2-home_top_page .top-about {
    padding: 0 20px;
  }
}
#task-2-home_top_page .top-about img {
  width: 100%;
}
#task-2-home_top_page .top-about-presentation {
  display: flex;
  gap: 60px;
  align-items: center;
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  #task-2-home_top_page .top-about-presentation {
    flex-direction: column;
    gap: 10px;
  }
}
#task-2-home_top_page .top-about-presentation .txt {
  position: relative;
  order: 1;
}
@media screen and (max-width: 768px) {
  #task-2-home_top_page .top-about-presentation .txt {
    flex-direction: column;
    gap: 10px;
  }
}
#task-2-home_top_page .top-about-presentation .txt p {
  color: #535353;
  max-width: 430px;
  margin-bottom: 24px;
}
@media screen and (max-width: 768px) {
  #task-2-home_top_page .top-about-presentation .txt p {
    text-align: center;
    width: 80%;
    margin: 0 auto 24px;
  }
}
@media screen and (max-width: 769px) {
  #task-2-home_top_page .top-about-presentation .img {
    width: 306px;
  }
}
#task-2-home_top_page .top-about-presentation .ttl {
  padding-top: 64px;
  position: relative;
  font-size: 3rem;
  line-height: 1.3;
  color: black;
  margin-bottom: 8px;
}
@media screen and (max-width: 768px) {
  #task-2-home_top_page .top-about-presentation .ttl {
    padding-top: 40px;
    text-align: center;
  }
}
#task-2-home_top_page .top-about-presentation .ttl:before {
  content: "";
  display: inline-block;
  width: 50px;
  height: 40px;
  background: url(../../assets/images/about-logo.svg) no-repeat center center/contain;
  position: absolute;
  top: 0;
  left: 0;
}
@media screen and (max-width: 768px) {
  #task-2-home_top_page .top-about-presentation .ttl:before {
    width: 30px;
    height: 24px;
    background: url(../../assets/images/top/about-logo-black.svg) no-repeat center center/contain;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media screen and (min-width: 769px) {
  #task-2-home_top_page .top-about-presentation .signature {
    position: absolute;
    bottom: 20px;
    right: 0;
    transform: rotate(-8deg);
    width: 248px;
    max-width: 50%;
  }
}
@media screen and (max-width: 768px) {
  #task-2-home_top_page .top-about-presentation .signature {
    width: 50%;
    margin: 0 auto 30px;
  }
}
@media screen and (max-width: 768px) {
  #task-2-home_top_page .top-about-presentation .btn {
    text-align: center;
  }
}
#task-2-home_top_page .top-about-presentation .btn a {
  display: inline-block;
  font-family: "Baskerville", serif;
  font-size: 1.25rem;
  color: #644f4e;
  border: 1px solid #5e4a49;
  padding: 15px 30px;
  transition: all 0.4 ease;
}
#task-2-home_top_page .top-about-presentation .btn a:hover {
  color: #f8f6f4;
  background: #b99692;
  border-color: #b99692;
}
#task-2-home_top_page .top-about-list {
  text-align: center;
}
#task-2-home_top_page .top-about-list dt {
  color: #535353;
  font-weight: 300;
  position: relative;
  padding: 10px 0;
  margin-bottom: 30px;
}
#task-2-home_top_page .top-about-list dt:before {
  content: "";
  width: 100%;
  height: 1px;
  background: #888;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
#task-2-home_top_page .top-about-list dt span {
  background-color: white;
  display: inline-block;
  position: relative;
  padding: 0 10px;
}
#task-2-home_top_page .top-about-list ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 60px 8%;
}
#task-2-home_top_page .top-about-list ul li {
  list-style: none;
  width: 14%;
  max-width: 120px;
}

#task-3-home_you_are_star {
  padding: 40px 0;
  font-family: "Avenir";
  font-weight: 300;
  background-color: #fae9e7;
  color: #191919;
}
#task-3-home_you_are_star #section-head {
  text-align: center;
  margin: 50px auto 20px;
  height: auto;
}
#task-3-home_you_are_star #section-head h1 {
  font-family: "Baskervville", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  margin-bottom: 24px;
  letter-spacing: 13%;
  line-height: 120%;
  color: #725a58;
}
#task-3-home_you_are_star #section-head h1::after {
  content: "";
  display: block;
  width: 200px;
  height: 1px;
  background-color: #e3b6b1;
  margin: 15px auto 0;
}
#task-3-home_you_are_star #section-head p {
  display: block;
  margin: 0 auto;
}
#task-3-home_you_are_star .div-btn {
  text-align: center;
}
#task-3-home_you_are_star .div-btn .btn-myWork {
  font-family: "Baskervville", serif;
  font-weight: 400;
  font-style: normal;
  display: block;
  margin: 0 auto;
  width: 160px;
  height: 53px;
  font-size: 20px;
  color: #5e4a49;
  background-color: #fae9e7;
  border: 1px solid #5e4a49;
  border-radius: 1px;
  padding: 15px 0;
}
#task-3-home_you_are_star .div-btn .btn-myWork:hover {
  background-color: #b99692;
  color: #fae9e7;
  border-color: #b99692;
  transition: 0.25s;
}
#task-3-home_you_are_star #section-myWorks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12.25px;
  margin: 30px auto;
  align-items: center;
}
#task-3-home_you_are_star #section-myWorks .myWork img {
  width: 100%;
  height: auto;
}
#task-3-home_you_are_star #section-bottom {
  margin: 0 auto;
  margin-bottom: 50px;
  text-align: center;
  font-size: 20px;
}
#task-3-home_you_are_star #section-bottom .text img {
  width: 32px;
  height: 23.73px;
}
#task-3-home_you_are_star #section-bottom .text p {
  display: block;
  margin: 24px 0;
  font-family: "Baskervville", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
}
#task-3-home_you_are_star #section-bottom .signature {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  width: 189px;
  margin: 0 auto;
  align-items: center;
}
@media screen and (min-width: 768px) {
  #task-3-home_you_are_star #section-head {
    height: auto;
  }
  #task-3-home_you_are_star #section-head h1 {
    font-size: 80px;
    margin-bottom: 40px;
    letter-spacing: 13%;
    line-height: 130%;
  }
  #task-3-home_you_are_star #section-head h1::after {
    content: "";
    display: block;
    width: 200px;
    height: 1px;
    background-color: #e3b6b1;
    margin: 15px auto 0;
  }
  #task-3-home_you_are_star #section-head p {
    display: block;
    margin: 0 auto;
    max-width: 437px;
    height: 54px;
  }
  #task-3-home_you_are_star .div-btn .btn-myWork {
    min-width: 160px;
    height: 62px;
  }
  #task-3-home_you_are_star #section-myWorks {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 22.15px;
    margin: 50px auto;
    max-width: 1440px;
    height: auto;
  }
  #task-3-home_you_are_star #section-myWorks .myWork img {
    width: 100%;
    height: auto;
  }
  #task-3-home_you_are_star #section-bottom {
    max-width: 778px;
    font-size: 32px;
  }
}

/*# sourceMappingURL=style.css.map */
