html,
body {
  overflow-x: hidden;
}

html {
  scrollbar-gutter: stable both-edges;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body #header-section .navbar {
  padding: 20px;
  transition: padding 0.5s ease;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #f8f6f4;
  align-items: center;
  justify-content: center;
  top: 0;
  width: 100%;
  min-height: 68px;
}
body #header-section .navbar .ham-menu {
  height: 40px;
  width: 40px;
  margin-right: auto;
  position: relative;
}
body #header-section .navbar .ham-menu span {
  display: block;
  height: 2px;
  width: 100%;
  background-color: #725a58;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease;
}
body #header-section .navbar .ham-menu span:nth-child(1) {
  top: 25%;
}
body #header-section .navbar .ham-menu span:nth-child(3) {
  top: 75%;
}
body #header-section .navbar .logo {
  margin: 0 auto;
}
body #header-section .navbar .insta-icon {
  height: 40px;
  width: 40px;
  margin-left: auto;
  position: relative;
}
body #header-section .navbar .insta-icon a {
  display: block;
  text-decoration: none;
  color: #725a58;
}
body #header-section .navbar .insta-icon a i {
  font-size: 40px;
}
body #header-section .navbar .insta-icon:hover {
  opacity: 0.4;
  transition: 0.5s ease;
}
body #header-section .navbar .ham-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
body #header-section .navbar .ham-menu.active span:nth-child(2) {
  opacity: 0;
}
body #header-section .navbar .ham-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, 50%) rotate(-45deg);
}
body #header-section .navbar .insta-icon.active {
  opacity: 0;
  transition: 0.5s ease;
}
body #header-section .navbar .desktop-nav {
  display: none;
}
body #header-section .navbar.on-scroll {
  padding: 0px 20px;
  transition: 0.5s ease;
}
body #header-section .off-screen-menu {
  background-color: #f8f6f4;
  width: 100%;
  max-width: 360px;
  position: fixed;
  top: 144px;
  left: -450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 0.5s ease;
  padding: 30px 0;
}
body #header-section .off-screen-menu .menu-list {
  list-style: none;
  font-size: 32px;
}
body #header-section .off-screen-menu .menu-list li {
  font-family: "Baskervville", serif;
  font-size: 32px;
  font-weight: 400px;
  font-style: normal;
  margin: 20px auto;
}
body #header-section .off-screen-menu .menu-list li a {
  text-decoration: none;
  color: #725a58;
}
body #header-section .off-screen-menu .menu-list li:hover {
  opacity: 0.4;
  transition: 0.5s ease;
}
body #header-section .off-screen-menu .icons-list {
  list-style: none;
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin: 20px auto;
}
body #header-section .off-screen-menu .icons-list li {
  margin: 0 15px;
}
body #header-section .off-screen-menu .icons-list li a {
  text-decoration: none;
  color: #725a58;
}
body #header-section .off-screen-menu .icons-list li:hover {
  opacity: 0.4;
  transition: 0.5s ease;
}
body #header-section .off-screen-menu p {
  font-size: 14px;
}
body #header-section .off-screen-menu.active {
  left: 0;
}
body #header-section .off-screen-menu.on-scroll {
  top: 104px;
  transition: 0.5s ease;
}
@media screen and (min-width: 1024px) {
  body #header-section .navbar {
    display: block;
    padding: 20px 40px;
    width: 100%;
  }
  body #header-section .navbar .ham-menu,
  body #header-section .navbar .logo-mobile,
  body #header-section .navbar .insta-icon {
    display: none;
  }
  body #header-section .navbar .desktop-screen-nav {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
  }
  body #header-section .navbar .desktop-screen-nav .desktop-nav {
    display: flex;
    gap: 20px;
    list-style: none;
  }
  body #header-section .navbar .desktop-screen-nav .desktop-nav li {
    font-family: "Baskervville", serif;
    font-size: 20px;
    font-weight: 400px;
    font-style: normal;
    margin: 20px auto;
    position: relative;
  }
  body #header-section .navbar .desktop-screen-nav .desktop-nav li a {
    text-decoration: none;
    color: #725a58;
  }
  body #header-section .navbar .desktop-screen-nav .desktop-nav li:hover {
    opacity: 0.4;
    transition: 0.5s ease;
  }
  body
    #header-section
    .navbar
    .desktop-screen-nav
    .desktop-nav
    .aTag-img
    .logo-no-text {
    display: none;
  }
  body
    #header-section
    .navbar
    .desktop-screen-nav
    .desktop-nav
    li:nth-child(1):after {
    content: "";
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 20px;
    background-color: #e3b6b1;
  }
  body
    #header-section
    .navbar
    .desktop-screen-nav
    .desktop-nav
    li:nth-child(2):after {
    content: "";
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 20px;
    background-color: #e3b6b1;
  }
  body
    #header-section
    .navbar
    .desktop-screen-nav
    .desktop-nav
    li:nth-child(3):after {
    content: "";
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 20px;
    background-color: #e3b6b1;
  }
  body #header-section .navbar .desktop-screen-nav .logo {
    margin: 0 20px;
  }
  body #header-section .navbar.on-scroll {
    padding: 0px 40px;
    transition: 0.5s ease;
  }
  body
    #header-section
    .navbar.on-scroll
    .desktop-screen-nav
    .logo
    .aTag-img
    .logo-text {
    display: none;
  }
  body
    #header-section
    .navbar.on-scroll
    .desktop-screen-nav
    .logo
    .aTag-img
    .logo-no-text {
    display: flex;
  }
  body #header-section .off-screen-menu {
    display: none;
  }
}

main {
  background-color: #f8f6f4;
}

.page-title {
  background-color: #f8f6f4;
  max-height: 228px;
  padding: 16px 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-title h1 {
  font-size: 80px;
  font-family: "Baskervville", serif;
  color: #725a58;
  max-width: 991px;
  max-height: 78px;
  line-height: 100%;
  padding: 0;
  margin: 0;
  letter-spacing: 4px;
}
.page-title .border {
  content: "";
  margin-top: 16px;
  width: 200px;
  border-bottom: solid 1px #e3b6b1;
}
.page-title p {
  max-width: 585px;
  height: 54px;
  font-size: 18px;
  font-family: "Avenir", sans-serif;
  color: #191919;
}

.display {
  background-color: #fae9e7;
  padding: 24px 8px;
}
.display .toggle-button {
  max-width: 495px;
  height: 53px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.display .toggle-button button {
  width: 242px;
  height: 100%;
  padding-bottom: 12px;
  color: #888888;
  font-size: 32px;
  font-family: "Baskervville", serif;
  background-color: transparent;
  border: none;
  border-bottom: solid 2px #888888;
  cursor: pointer;
  outline: none;
  appearance: none;
}
.display .toggle-button .toggle-selected {
  color: #191919;
  border-color: #191919;
}
.display .boxes-makeup {
  max-width: 1022px;
  height: auto;
  margin: 16px auto;
  padding: 16px;
  display: none;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 280px;
  gap: 14px;
}
.display .boxes-makeup .box {
  overflow: hidden;
}
.display .boxes-makeup .box img {
  width: 100%;
  height: 100%;
}
.display .boxes-hair-style {
  max-width: 1022px;
  height: auto;
  margin: 16px auto;
  padding: 16px;
  display: none;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 280px;
  gap: 14px;
}
.display .boxes-hair-style .box {
  overflow: hidden;
}
.display .boxes-hair-style .box img {
  width: 100%;
  height: 100%;
}
.display .box-selected {
  display: grid;
}
.display .view-more-button {
  width: 161px;
  height: 62px;
  margin: 60px auto;
}
.display .view-more-button button {
  width: 100%;
  height: 100%;
  font-family: "Baskervville", serif;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  appearance: none;
  position: relative;
  overflow: hidden;
  transition: all 0.25s ease;
}
.display .view-more-button button:hover {
  background-color: #eca8a0;
  transform: translateY(-4px);
}
.display .view-more-button button:active {
  transform: translateY(0);
}
.display .view-more-button button::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -30%;
  width: 30%;
  height: 200%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.9) 50%,
    rgba(255, 255, 255, 0) 100%
  );
}
.display .view-more-button .action {
  background-color: #eca8a0;
}
.display .view-more-button .action::after {
  animation: shine 0.7s ease-out 1 forwards;
}
@keyframes shine {
  0% {
    transform: translateX(-120%) rotate(25deg);
  }
  100% {
    transform: translateX(600%) rotate(25deg);
  }
}

@media screen and (max-width: 768px) {
  .page-title h1 {
    font-size: 40px;
    padding-bottom: 0;
  }
  .display .boxes-makeup {
    grid-auto-rows: 200px;
  }
  .display .boxes-hair-style {
    grid-auto-rows: 200px;
  }
}
@media screen and (max-width: 426px) {
  .display .boxes-makeup {
    grid-template-columns: 100%;
    grid-auto-rows: 240px;
    padding: 40px;
  }
  .display .boxes-hair-style {
    grid-template-columns: 100%;
    grid-auto-rows: 240px;
    padding: 40px;
  }
  .display .responsive-hidden {
    display: none;
  }
  .display .view-more-button {
    margin: 20px auto;
  }
}

/*# sourceMappingURL=style.css.map */
