* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.footer {
    &-main {
    padding: 60px 40px 30px;
    background-color: #F8F6F4;
    font-family: "Baskerville", serif;
    font-size: 1.25rem;
    color: #725A58;
    text-align: center;
    margin: 0;
    @media screen and (max-width: 769px){
        padding: 40px 20px 20px;
        font-size: 18px;
    }
        
    }

    &-top{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        margin-bottom: 0;
        @media screen and (max-width: 768px){
            flex-direction: column;
            text-align: center;
            gap: 24px;
            
        }

    }

    &-brand {
        h2{
            font-size: 1.8rem;
            margin: 0;
        }

        p{
            font-size: 1rem;
            margin: 0;
        }
    }

    &-icons{
        display: flex;
        gap: 20px;
        justify-content: center;
        margin-top: 8px;
        @media screen and (max-width:768px) {
            gap: 16px;
            
        }

        img{
            width: 24px;
            height: 24px;
            transition: transform 0.3s ease;
        }
    }

    &-nav{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 100px;
        margin-bottom: 24px;
        padding-top: 12px;
        padding-bottom: 12px;
        border-top: 1px solid #7d6b6b;
        border-bottom: 1px solid #7d6b6b;
        @media screen and (max-width:1049px) {
            display: grid;
            grid-template-columns: repeat(2,minmax(120px,1fr));
            gap: 16px;
            justify-content: center;
            align-items: center;
            padding: 10px 80px;
            
        }

        a{
            position: relative;
            text-decoration: none;
            color: #7d6b6b;
            font-weight: 500;
            font-size: 1rem;
            transition: color 0.3 ease;
            @media screen and (max-width:1049px){
            justify-content: center;   
            }
        }

        a:after{
            content: "";
            position: absolute;
            bottom: 0;
            left:0;
            width: 0;
            height: 2px;
            background-color: #7d6b6b;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 0.3 ease;
        }

        a:hover{
            color: #462c2c;
        }

        a:hover::after{
            transform: scaleX(1);
        }
    }

    &-copyright{
        font-size: 0.8rem;
        color: #a18f8f;
        margin: 0;
    }

}